/*/build
.idea/
.gradle/
emulator/cmake/
emulator/cmake-build-debug/
__pycache__/
/vbcc/bin
/vbcc/machines/*/dt.*
/vbcc/machines/*/*.o
/fpga/simulation/
!/fpga/simulation/cpu.do
!/fpga/simulation/vhdlsonic.mpf
/emulator/Emscripten/web/
/emulator/Emscripten/*.o

/programs/data/songs/*
!/programs/data/songs/spongebob.bin
!/programs/data/songs/dragonballsuper.bin
